[Unit]
Description=Shopping FastCGI Server %i
Requires=shopping-fcgi@%i.socket
After=shopping-fcgi@%i.socket

[Service]
Type=notify
ExecStart=/usr/local/bin/shopping.fcgi /apache/shopping/%i
User=cgi
Group=cgi

WatchdogSec=30s

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=true
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
LockPersonality=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
RestrictNamespaces=yes
PrivateDevices=yes
SystemCallArchitectures=native
ProtectProc=invisible
ProcSubset=pid
UMask=0077

Restart=no
StartLimitBurst=1000
StartLimitInterval=1

CPUAccounting=yes
LimitCPU=1000ms
RuntimeMaxSec=120s
MemoryMax=10M
OOMPolicy=kill
TimeoutStopSec=500ms
LimitCORE=0

[Install]
WantedBy=multi-user.target
